*{
    margin: 0;
    padding: 0;
}

.container {
    width: auto;
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(border2.jpg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;

}

.container .head {
    text-align: center;
    color: blue;
    

    
}

.container .para {
    padding: 10%;
    color: yellow;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
}

